{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}
{% block layout_header %}
	{# cart icon #}
	{% block layout_top_bar %}
		<div class="row align-items-center justify-content-end header__top">
			<div class="col-auto px-1">
				<div class="header-cart" data-offcanvas-cart="true">
					<a class="btn header-cart-btn header-actions-btn" href="{{ path('frontend.checkout.cart.page') }}" data-cart-widget="true" title="{{ 'checkout.cartTitle'|trans|striptags }}" aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
						{% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
					</a>
				</div>
			</div>
		</div>
	{% endblock %}
	<div class="header">
		<div class="header__wrapper container">
			<div class="header__logo"><img src="{{ asset('bundles/thstarterplugin/header-logo.png', 'asset') }}" alt="logo header"></div>
			<button class="header__toggle" aria-controls="header__nav" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="open">
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 48 48">
						<g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
							<path d="M7.94971 11.9497H39.9497"></path>
							<path d="M7.94971 23.9497H39.9497"></path>
							<path d="M7.94971 35.9497H39.9497"></path>
						</g>
					</svg>
				</span>
				<span class="close">
					<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24">
						<g fill="none" fill-rule="evenodd">
							<path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"></path>
							<path fill="black" d="m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z"></path>
						</g>
					</svg>
				</span>
			</button>
			<nav class="nav" data-visible="false">
				<ul class="header__nav">
					{% for treeItem in page.header.navigation.tree %}
						{% set category = treeItem.category %}
						{% set name = category.translated.name %}
						{% set categorId = category.id %}
						<li class="nav__item ">
							<a class="nav__link main-navigation-link{% if categorId is same as(page.header.navigation.active.id) %} active{% endif %}" href="{% if category.translated.externalLink %}{{ category.translated.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: categorId }) }}{% endif %}" itemprop="url" {% if treeItem.children|length > 0 %} data-flyout-menu-trigger="{{ categorId }}" {% endif %} title="{{ name }}">
								<span itemprop="name">{{ name }}</span>
							</a>
						</li>
					{% endfor %}
					<li class="nav__item nav__item--mobile">
						<a class="nav__link nav__link--cta" href="/account/login">Sign up</a>
					</li>
				</ul>
			</nav>
			<nav class="nav--users">
				<div class="account-menu">
					<div class="dropdown">
						<button class="btn account-menu-btn header-actions-btn" id="accountWidget" type="button" data-offcanvas-account-menu="true" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Your account" title="Your account">
							<span class="icon icon-avatar">
								<svg width="34" height="34" viewbox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.0114 1.74288e-07C20.3773 3.23866e-05 23.6674 0.999087 26.4649 2.8706C29.2625 4.74211 31.4416 7.40187 32.7262 10.5129C34.0108 13.624 34.3432 17.0463 33.6811 20.3464C33.019 23.6465 31.3923 26.6758 29.0071 29.0505C26.6219 31.4253 23.5855 33.0387 20.2825 33.6863C16.9796 34.3339 13.5587 33.9866 10.4533 32.6883C7.34796 31.3901 4.69779 29.1993 2.83856 26.3936C0.979334 23.5879 -0.00528541 20.2934 0.00944013 16.9276C0.00944013 7.5898 7.63908 -0.00132811 17.0114 1.74288e-07ZM12.931 18.6716C8.89431 15.513 9.15465 10.593 11.8431 7.77177C14.5554 4.92527 19.1061 4.84955 21.9858 7.60042C24.6424 10.1414 25.3916 15.2712 21.1012 18.673C24.8098 20.1885 27.2113 22.8836 28.3443 26.7423C33.4489 20.9629 33.4821 11.3794 26.7252 5.58409C20.1847 -0.0278928 10.3063 1.04403 5.06488 7.91257C-0.0383782 14.6044 1.95537 22.9686 5.68651 26.6639C6.79828 22.8478 9.21044 20.2005 12.931 18.6716ZM16.9942 32.0169C20.2856 31.9954 23.4821 30.9112 26.1075 28.926C26.5272 28.6125 26.6242 28.2884 26.5206 27.8009C25.5509 23.1971 21.606 19.9335 16.9875 19.9388C12.4182 19.9388 8.47192 23.2077 7.48766 27.7757C7.37609 28.2964 7.48102 28.6258 7.92068 28.9525C10.5393 30.9186 13.7197 31.9927 16.9942 32.0169ZM17.0221 7.56854C15.6579 7.5729 14.3499 8.1123 13.3792 9.0708C12.4086 10.0293 11.8527 11.3304 11.8311 12.6944C11.8072 15.5249 14.1849 17.9172 17.0114 17.9079C19.838 17.8986 22.1705 15.5449 22.1718 12.7382C22.1618 11.3737 21.6166 10.0675 20.6536 9.10078C19.6906 8.13401 18.3866 7.58382 17.0221 7.56854Z" fill="black"></path>
								</svg>
							</span>
						</button>
						<div class="dropdown-menu dropdown-menu-end account-menu-dropdown js-account-menu-dropdown" aria-labelledby="accountWidget">
							<div class="offcanvas-header">
								<button class="btn btn-light offcanvas-close js-offcanvas-close">
									<span class="icon icon-x icon-sm">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewbox="0 0 24 24">
											<defs>
												<path id="icons-default-x" d="m10.5858 12-7.293-7.2929c-.3904-.3905-.3904-1.0237 0-1.4142.3906-.3905 1.0238-.3905 1.4143 0L12 10.5858l7.2929-7.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143L13.4142 12l7.293 7.2929c.3904.3905.3904 1.0237 0 1.4142-.3906.3905-1.0238.3905-1.4143 0L12 13.4142l-7.2929 7.293c-.3905.3904-1.0237.3904-1.4142 0-.3905-.3906-.3905-1.0238 0-1.4143L10.5858 12z"></path>
											</defs>
											<use xlink:href="#icons-default-x" fill="#758CA3" fill-rule="evenodd"></use>
										</svg>Close menu</span>
								</button>
							</div>
							<div class="offcanvas-body">
								<div class="account-menu">
									<div class="dropdown-header account-menu-header">Your account</div>
									<div class="account-menu-login">
										<a class="btn btn-primary account-menu-login-button" href="/account/login" title="Log in">Log in</a>
										<div class="account-menu-register">or
											<a href="/account/login" title="Sign up">sign up</a>
										</div>
									</div>
									<div class="account-menu-links">
										<div class="header-account-menu">
											<div class="card account-menu-inner">
												<div class="list-group list-group-flush account-aside-list-group">
													<a class="list-group-item list-group-item-action account-aside-item" href="/account" title="Overview">Overview</a>
													<a class="list-group-item list-group-item-action account-aside-item" href="/account/profile" title="Your profile">Your profile</a>
													<a class="list-group-item list-group-item-action account-aside-item" href="/account/address" title="Addresses">Addresses</a>
													<a class="list-group-item list-group-item-action account-aside-item" href="/account/payment" title="Payment methods">Payment methods</a>
													<a class="list-group-item list-group-item-action account-aside-item" href="/account/order" title="Orders">Orders</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="nav__link nav__link--cta" href="/account/login">
					<span>Sign up</span>
				</a>
			</nav>
		</div>
	</div>
{% endblock %}
